openapi: 3.1.0
info:
  title: Persona Accounts Reports API
  description: 'The Persona API enables identity verification, fraud prevention, and

    Know Your Customer (KYC) workflows. Use the API to create and manage

    inquiries, accounts, verifications, reports, transactions, lists, and

    webhooks for verifying users via document checks, selfie checks, and

    database lookups.

    '
  version: 2025-12-08
  contact:
    name: Persona Support
    url: https://docs.withpersona.com/docs/support
  termsOfService: https://withpersona.com/legal/terms-of-service
servers:
- url: https://withpersona.com/api/v1
  description: Persona production API
tags:
- name: Reports
  description: Run database-driven reports such as watchlist or adverse media checks.
paths:
  /reports:
    get:
      operationId: listReports
      summary: List all Reports
      tags:
      - Reports
      security:
      - bearerAuth: []
      responses:
        '200':
          description: A list of reports.
    post:
      operationId: createReport
      summary: Create a Report
      tags:
      - Reports
      security:
      - bearerAuth: []
      responses:
        '201':
          description: Report created.
  /reports/{id}:
    get:
      operationId: retrieveReport
      summary: Retrieve a Report
      tags:
      - Reports
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested report.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Persona uses bearer-token authentication. Pass your API key as

        `Authorization: Bearer <YOUR_API_KEY>` on every request.

        '
externalDocs:
  description: Persona API Reference
  url: https://docs.withpersona.com/reference/introduction
